footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5px;
  margin-top: 20px;
}
.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.5px;
}
.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  width: 40px;
  height: 70px;
  border-radius: 5px;
  color:black;
  font-weight:bold;
  font-size:18px;
}
.keyboard-column.wide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d3d6da;
  width: 80px;
  height: 70px;
  border-radius: 5px;
}
.back-space-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.back-space-icon svg{
      width:20px;
      height: 20px;
